<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <servlet>
  	<servlet-name>spring</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>spring</servlet-name>
  	<url-pattern>*.html</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
   </welcome-file-list>
   
   <filter>
   	<filter-name>auth</filter-name>
   	<filter-class>com.pos.filter.Auth</filter-class>
   </filter>
   
   <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/</url-pattern>
   </filter-mapping>
    <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/home.html</url-pattern>
   </filter-mapping>
   <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/product.html</url-pattern>
   </filter-mapping>
    <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/product/add.html</url-pattern>
   </filter-mapping>
    <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/product/edit/*.html</url-pattern>
   </filter-mapping>
   <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/category.html</url-pattern>
   </filter-mapping>
    <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/category/add.html</url-pattern>
   </filter-mapping>
    <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/category/edit/*.html</url-pattern>
   </filter-mapping>
   <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/brand.html</url-pattern>
   </filter-mapping>
    <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/brand/add.html</url-pattern>
   </filter-mapping>
    <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/brand/edit/*.html</url-pattern>
   </filter-mapping>
   <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/customer.html</url-pattern>
   </filter-mapping>
    <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/customer/add.html</url-pattern>
   </filter-mapping>
   <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/customer/edit/*.html</url-pattern>
   </filter-mapping>
   <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/sale.html</url-pattern>
   </filter-mapping>
    <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/sale/add.html</url-pattern>
   </filter-mapping>
   <filter-mapping>
   	<filter-name>auth</filter-name>
   	<url-pattern>/sale/edit/*.html</url-pattern>
   </filter-mapping>
  
</web-app>
